@import url("https://fonts.googleapis.com/css2?family=Amarante:wght@400;700&family=Nunito:wght@400;700&display=swap");
@import "tailwindcss";

@plugin "@iconify/tailwind4";

@source "./modules/HTMLCreator.js";

@theme {
  --color-primary: #1e392a;
  --color-accent: #3cc47c;
  --color-accent-hovered: #269466;
  --color-surface: #caf4dd;
  --color-muted: #e5e5e5;
  --color-muted-hovered: #cccccc;
  --font-heading: "Amarante", serif;
  --font-sans: "Nunito", serif;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
}
@layer components {
  a {
    @apply flex content-center gap-2 p-[1rem_2rem] transition-all duration-300 hover:scale-105 hover:bg-linear-to-r hover:from-white hover:to-surface active:scale-100;
  }
  a.selected {
    @apply bg-linear-to-r from-accent to-surface;
  }

  .post-action {
    @apply items-center bg-none border-none rounded-sm text-gray-500 cursor-pointer flex text-[0.85rem] gap-1 p-[0.25rem_0.5rem] transition-all duration-300 hover:text-accent hover:scale-110 origin-top active:scale-100;
  }

  .modal-screen {
    @apply fixed top-0 left-0 z-30 hidden h-full w-full items-center justify-center p-6;
  }
  .modal-blur-overlay {
    @apply fixed top-0 left-0 h-full w-full backdrop-blur-xs;
  }
  
  .modal-card {
    @apply relative z-30 max-h-[85dvh] w-full max-w-175 overflow-y-auto rounded-2xl border-2 border-solid border-primary bg-white p-[1.5rem_2rem_0_2rem];
  }
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: var(--color-muted) transparent;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: var(--color-muted);
    border-radius: 20px;
    opacity: 0.3;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: var(--color-muted);
    opacity: 0.5;
  }
}
