@import url("https://fonts.googleapis.com/css2?family=Amarante:wght@400;700&family=Nunito:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1e392a;
  --color-accent: #3cc47c;
  --color-surface: #caf4dd;
  --color-muted: #e5e5e5;
  --color-muted-hovered: #cccccc;
  --font-heading: "Amarante", serif;
  --font-sans: "Nunito", serif;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
}
@layer components {
  a {
    @apply flex content-center gap-2 p-[1rem_2rem] transition-all duration-300 hover:scale-105 hover:bg-linear-to-r hover:from-white hover:to-surface active:scale-100;
  }
  a.selected {
    @apply bg-linear-to-r from-accent to-surface;
  }
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: var(--color-muted) transparent;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: var(--color-muted);
    border-radius: 20px;
    opacity: 0.3;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: var(--color-muted);
    opacity: 0.5;
  }
}
