<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <title>Greenwall</title>
</head>
<body>
    <main class="bg-surface grid grid-cols-[20%_1fr_20%] grid-rows-[3rem_1fr] h-dvh overflow-hidden">
        <section class="bg-accent border-b-2 border-b-primary border-solid col-span-full h-12 sticky top-0">
            <h1 class="text-white ml-6">greenwall</h1>
        </section>
        <section>
            left-sidebar
        </section>
        <section>
            content
        </section>
        <section>
            right-sidebar (just to balance out)
            no function yet
        </section>
    </main>
</body>
</html>