<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <title>Greenwall</title>
</head>
<body>
    <!-- SAMPLE, to test that tailwind works -->
    <div class="min-h-screen bg-dark flex items-center justify-center">
        <h1 class="text-4xl font-bold text-light">
            Greenwall 🌿
        </h1>
        <p class="text-grey">This is grey text</p>
    </div>
</body>
</html>