<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <title>Greenwall</title>
</head>
<body>
    <main class="bg-surface grid grid-cols-[20%_1fr_20%] grid-rows-[3rem_1fr] h-dvh overflow-hidden">
        <section class="bg-accent border-b-2 border-b-primary border-solid col-span-full h-12 sticky top-0">
            <h1 class="font-heading ml-6 text-white">greenwall</h1>
        </section>
        <section class="h-[calc(100dvh - 3rem)] overflow-y-auto sticky top-12">
            <nav class="flex flex-col mt-8 select-none">
                <a href="#" data-pagename="user-profile" data-action="navigate">
                    <i class="text-3xl hgi hgi-stroke hgi-rounded hgi-user-circle"></i>
                    <span>Profile</span>
                </a> 
                <a class="selected" href="#" data-pagename="home-wall" data-action="navigate">
                    <i class="text-3xl hgi hgi-stroke hgi-rounded hgi-home-01"></i>
                    <span>Home Wall</span>
                </a>
                <a href="#" data-pagename="search" data-action="navigate">
                    <i class="text-3xl hgi hgi-stroke hgi-rounded hgi-search-02"></i>
                    <span>Search</span>
                </a>
            </nav>
        </section>
        <section class="scrollbar-custom h-[calc(100dvh - 3rem)] overflow-y-auto">
            <div class="page hidden" data-pagename="user-profile">
                user profile
            </div>
            <div class="page" data-pagename="home-wall">
                home wall
            </div>
            <div class="page hidden" data-pagename="search">
                search
            </div>
        </section>
        <section>
            <!-- just to balance things out. no purpose of its own yet -->
        </section>
    </main>
    
    <script type="module" src="static/script.js"></script>
</body>
</html>